:root {
  --primary-color: #457B9D;
  --secondary-color: #A8DADC;
  --background-color: #F1FAEE;
  --background-dark-color: #1D3557;
  --accent-color: #E63946;
  --header-height: 10vh;
  --margin: 1em;
  --padding: 1em;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {list-style: none;}
h1 {
  font-size: 2rem;
  color: white;
}


/* APP */
.app {
  background: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}

.toggleMenu {
  cursor: pointer;
  z-index: 10;
}


/* HEADER */
.app-header {
  background-color: var(--background-dark-color);
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2em;
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
/* end HEADER */


/* SIDEBAR */
.sidebar-menu {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 80vw;
  background-color: var(--secondary-color);
  transition: all .3s;
  z-index: 10;
}
.sidebar-menu.open{
  left: 0;
  transition: all .3s;
}
.sidebar-menu ul {
  text-align: left;
  list-style-type: none;
}
.sidebar-menu ul li {
  list-style-type: none;
}
.sidebar-menu ul li a{
  color: var(--background-dark-color-color);
  padding: 20px;
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
}

.sidebar-overlay {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}
.sidebar-overlay.show{
  display: block;
  visibility: visible;
  z-index: 9;
}
/* end sidebar */


/* MAIN */
main {
  min-height: calc(90vh - (var(--margin) * 2));
  padding: var(--margin);
  padding-top: calc(var(--header-height) + var(--padding));
  min-height: 100vh;
}

main h2 {
  text-align: center;
  margin: var(--padding);
}
/* end MAIN */

.swipeable-list-item {
  background-color: red;
}
.swipe-card  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60vh;
  width: 100%;
}

.swipe-card img {
  width: 100%;
  height: auto;
}

/* CONROLSBAR */
.controls-bar {
  width: 100%;
  margin: var(--margin) auto;
  text-align: center;
}
.controls-bar button {
  outline: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  margin: 0 15px;
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.3em;
  transition: all .3s;
  cursor: pointer;
}
.controls-bar button.like {
  color: green;
}
.controls-bar button.dislike {
  color: red;
}
.controls-bar button.favorites {
  color: black;
}

/* end CONROLSBAR */

/* BREEDS */
.breeds-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.breeds-item {
  position: relative;
  padding: var(--padding);
  height: 150px;
  width: 150px;
  margin: 15px auto;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  background-position: center;
  background-size: cover;
}
.breeds-item a {
  background: #ffffffa6;
  padding: 10px;
  color: var(--primary-color);
  font-weight: bold;
}
/* end BREEDS */

/* BREEDS */
.breed-image {
  width: 100%;
}
/* end BREEDS */

/* HOME */
.home-lists {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-lists li {
  padding: 25px;
  width: 100%;
  text-align: center;
  background: white;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  margin: 15px auto;
}
/* end HOME */

.choices-card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.choices-card .cards{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  overflow: hidden;
}
.choices-card .card{
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--background-color);
}
.choices-card .card img{
  width: 100%;
}

/* Favorites */
.favorites__container .favorites__content-null{
  text-align: center;
  margin-top: 50px;
}
.favorites__container.grid .favorite-item {
  width: 100%;
  height: auto;
  margin-bottom: var(--margin);
}
.favorites__container.grid .favorite-item img {
  max-width: 100%;
}
/* end Favorites */